body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F7F9F9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  font-size: 1rem;
}

button {
  margin: 0 1px 1px 0;
  height: 25px;
}

.game-loader {
  display: flex;
  flex-direction: column;
  margin: 1.25rem;
  height: calc(100dvh - 2 * 1.25rem);
}

.game {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 0;
}

.header {
  flex: 0 0 auto;
}

.keyboard-letter {
  padding: 0;
  width: 25px;
}

.hint {
  margin-bottom: 0;
}

.grid {
  flex: 0 1 auto;
  overflow-y: auto;
  margin-top: 1.25rem;
  border-width: 0;
  padding: 0;
  gap: 2px 0;
}

.cell {
  background-color: #F7F9F9;
  margin: 0;
  border-width: 0;
  padding: 2px;
  text-align: center;
  caret-color: transparent;
}

.cell:focus {
  outline-style: solid;
  outline-width: 2px;
  outline-offset: -2px;
  border-radius: 2pt;
  outline-color: #0000FF;
}

.cell.unguessed {
  background-color: #B0C4DE;
}

.cell.guessed {
  background-color: #F7F9F9;
  font-weight: bold;
  color: #000000;
}

.cell.conflicted {
  background-color: #F7F9F9;
  font-weight: bold;
  color: #FF0000;
}

.cell.focused {
  background-color: #F9E79F;
}
