body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gameLoader {
  margin: 5px;
}

.grid {
  margin: 0;
  border-width: 0;
  padding: 0;
  gap: 0;
}

.cell {
  margin: 0;
  border-width: 0;
  padding: 0;
  text-align: center;
  caret-color: transparent;
}

.cell:focus {
  outline-width: 1px;
  outline-offset: -1px;
  outline-color: #0000FF;
}

.cell.unguessed {
  background-color: #B0C4DE;
}

.cell.guessed {
  background-color: #F0F8FF;
  font-weight: bold;
  color: #000000;
}

.cell.conflicted {
  background-color: #F0F8FF;
  font-weight: bold;
  color: #FF0000;
}

.cell.focused {
  background-color: #F9E79F;
}
